.Wrapper { 
    width: 100%;
    height: 10vh;
    background-color: white;
    position: fixed;
    bottom: 0;
    z-index: 100;
    margin-bottom: 0;
}

.Tab {
    background-color: black;
    height: 100%;
    color: white;
    text-align: center;
    line-height: 10vh;
}