.Wrapper {
    width: 100%;
    margin-bottom: 130px;
}

.Title {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.44444em;
    position: relative;
    top: 30px;
    left: 80px !important;
}

.Content {
    position: relative;
    top: 120px;
}
